
$light-grey: #e1e1e2cc;
$dark-grey: #444444;

.footer {
    align-items: center;
    border-top: 1px solid $light-grey;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 20px;
    height: 80px;
}

.footer .logo {
    opacity: 0.5;
    flex-basis: auto;
    flex-grow: 1;
    text-align: right;
    margin-right: 7%;
}

.footer .info {
    color: $dark-grey;
    flex-grow: 1;
    margin-left: 7%;
}
