
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 10%;
    padding-right: 8%;
    height: 80px;
}

.logo {
    color: black;
    margin-right: auto;
}

.logo h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.menu {
    list-style: none;
    display: flex;
}

.menu > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    list-style: none;
}

.menu a {
    color: #444444;
    padding: 20px;
    font-size: 18px;
    transition: all 0.3s ease 0s;
}

.menu a:hover,
.menu a:focus {
    color: #0088a9;
}

@media (max-width: 650px) {
    .logo h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }

    .menu a {
        padding: 16px;
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .logo h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }

    .menu a {
        padding: 12px;
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .logo h1 {
        flex-flow: row wrap;        
    }

    .menu a {
        flex-flow: row wrap;        
    }
}


@media (max-width: 360px) {

    
}
