@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

$breakdown-tablet-l: 650px;
$breakdown-tablet-s: 500px;
$breakdown-mobile-l: 425px;

$header-background: #ffffff;
$accent-color: #0088a9;
$black: #000000;
$dark-grey: #3b3e44;

.header {
    display: flex;
    background-color: $header-background;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 8%;
    height: 90px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header .logo {
    color: $black;
    margin-right: auto;
}

.header .logo h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    cursor: pointer;
}

.header .menu {
    display: flex;
    list-style: none;
    flex-flow: row wrap;
}

.header .menu > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.header .menu a {
    color: $dark-grey;
    padding: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    transition: all 0.3s ease 0s;
}

.header .menu a:hover,
.header .menu a:focus {
    color: $accent-color;
}

@media (max-width: $breakdown-tablet-l) {
    .header .logo h1 {
        font-size: 18px;
    }

    .header .menu a {
        padding: 16px;
        font-size: 16px;
    }
}

@media (max-width: $breakdown-tablet-s) {
    .header .menu a {
        padding: 12px;
        font-size: 16px;
    }
}

@media (max-width: $breakdown-mobile-l) {
    .header .logo h1 {
        font-size: 20px;
    }

    .header .menu a {
        padding: 14px;
    }
}
