
$breakdown-tablet-l: 650px;
$breakdown-tablet-s: 500px;
$breakdown-mobile-l: 425px;
$accent-color: #0088a9;
$dark-color: #000000;


.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 8%;
    height: 80px;
}

.logo {
    flex-flow: row wrap;
    color: $dark-color;
    margin-right: auto;
}

.logo h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    cursor: pointer;
}

.menu {
    display: flex;
    list-style: none;
    flex-flow: row wrap;
}

.menu > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
}

.menu a {
    color: #444444;
    padding: 20px;
    font-size: 18px;
    transition: all 0.3s ease 0s;
}

.menu a:hover,
.menu a:focus {
    color: $accent-color;
}

@media (max-width: $breakdown-tablet-l) {
    .logo h1 {
        font-size: 18px;
    }

    .menu a {
        padding: 16px;
        font-size: 16px;
    }
}

@media (max-width: $breakdown-tablet-s) {
    .logo h1 {
        font-size: 18px;
    }

    .menu a {
        padding: 12px;
        font-size: 16px;
    }
}

@media (max-width: $breakdown-mobile-l) {
    .logo h1 {
        font-size: 20px;
    }

    .menu a {
        padding: 14px;
    }

    .header {
        height: 90px;
    }
}
