$breakdown-laptop-s: 1024px;
$breakdown-tablet-l: 650px;
$breakdown-tablet-s: 500px;
$breakdown-mobile-s: 320px;

$black: #000000;
$white: #ffffff;
$dark-grey: #3b3e44;
$light-color: #c2c1c1;
$accent-color: #0088a9;

.main {
    background-color: $white;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    padding: 60px 0;
}

.projects {
    display: grid;
    grid-column: 2 / span 12;
    grid-gap: 40px;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.project {
    // display: flex;
    // flex-direction: column;
    background-color: $white;
    border-radius: 4px;
    border: 1px solid $light-color;
    cursor: pointer;
    grid-column-end: span 4;
    transition: all 0.3s ease 0s;
}

.project:hover {
    transform: translateY(-8px);
}

.project img {
    width: 100%;
}

.project .info {
    padding: 10px;
}

.project .info a {
    color: $black;
    font-size: 16px;
    transition: all 300ms;
}

.project .info:hover {
    color: $accent-color;
}

.project .info p {
    color: $dark-grey;
    font-size: 16px;
    margin-top: 5px;
}

@media (max-width: $breakdown-laptop-s) {
    .project {
      grid-column-end: span 6;
    }
}

@media (max-width: $breakdown-tablet-l) {
    .main {
        grid-gap: 20px;
    }

    .project {
        grid-column-end: span 12;
    }
}

@media (max-width: $breakdown-tablet-s) {
    .main {
        grid-gap: 15px;
        grid-template-columns: 10px repeat(6, 1fr) 10px;
    }
    .projects {
        grid-column: 2 / span 6;
        grid-gap: 25px;
        grid-template-columns: repeat(6, 1fr);
    }
    .project {
        grid-column-end: span 6;
    }
}


@media (max-width: $breakdown-mobile-s) {
    .main {
        grid-gap: 10px;
    }
    .projects {
        grid-gap: 20px;
    }
} 
