.main {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    padding: 60px 0;
}
.projects {
    display: grid;
    grid-column: 2 / span 12;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 40px;
}

.project {
    display: flex;
    background-color: #ffffff;
    border: 1px solid #c2c1c1;
    flex-direction: column;
    grid-column-end: span 4;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.project:hover {
    transform: translateY(-8px);
}

.project img {
    width: 100%;
}

.project .info {
    padding: 10px;
}

.project .info a {
    color: black;
    font-size: 16px;
    transition: all 300ms;
}

.project .info a:hover {
    color: lightblue;
}

.project .info p {
    color: gray;
    font-size: 16px;
    margin-top: 5px;
}

.project button {
    background-color: cornflowerblue;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 5px;
    width: 60px;
}

@media (max-width: 1000px) {
    .project {
      grid-column-end: span 6;
    }
}

@media (max-width: 700px) {
    .main {
        grid-gap: 20px;
    }

    .project {
        grid-column-end: span 12;
    }
}

@media (max-width: 500px) {
    .main {
        grid-template-columns: 10px repeat(6, 1fr) 10px;
        grid-gap: 10px;
    }
    .projects {
        grid-column: 2 / span 6;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 25px;
    }
    .project {
        grid-column-end: span 6;
    }
}


@media (max-width: 300px) {
    .main {
        grid-gap: 10px;
    }
    .projects {
        grid-gap: 20px;
    }
} 